/* src/styles/global.css */

/* ===== 1. 导入依赖与插件 ===== */
@import url("https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@100..900");
@import url("https://fonts.loli.net/css2?family=Noto+Serif+SC:wght@100..900");
@import "tailwindcss";

@tailwind utilities;

/* ===== 2. 暗色模式配置 ===== */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --haku-font-serif: "Noto Serif SC", serif;
    --haku-font-sans: "Noto Sans SC", sans-serif;
    --color-border: #a8a8a8;

    font-family: var(--haku-font-serif);
    overflow-y: scroll;
  }

  html.dark {
    --color-border: #3a3a3a;
  }

  footer {
    @apply mt-6 pt-4;
  }

  svg[id^="mermaid-"] {
    @apply bg-white dark:bg-gray-500 rounded-lg p-4 mx-auto block min-w-min;
  }
}

@layer components {
  .readme-page {
    @apply max-w-3xl px-4 mx-auto mb-6;
  }

  .list-page {
    @apply max-w-3xl px-4 mx-auto mt-6;
  }
}

@layer components {
  .article-title {
    @apply break-all pr-8;
  }

  .article-meta {
    @apply flex items-center gap-6 text-sm mt-2 mb-8 text-shadow-zinc-800 dark:text-zinc-400 italic;
  }

  .meta-item {
    @apply gap-1.5 flex items-center;
    & .icon {
      @apply max-w-full max-h-full;
    }
  }

  .icon {
    @apply inline-flex items-center w-5 h-5;
  }
}

@layer components {
  .code-block-wrapper {
    @apply relative mb-4 mt-4;
  }

  .copy-code-btn {
    @apply absolute top-2 right-2 z-20;
    @apply flex justify-center items-center;
    @apply w-8 h-8 p-0;

    @apply text-sm text-slate-400;
    @apply bg-slate-800/60;
    @apply border border-white/10 rounded-md;

    @apply cursor-pointer opacity-0 transition-all duration-200;
    @apply select-none;

    &:hover {
      @apply bg-slate-800 text-slate-100;
    }

    &.success {
      @apply bg-emerald-600 text-white;
    }
  }

  .code-block-wrapper:hover .copy-code-btn {
    @apply opacity-100;
  }

  @media (hover: none) {
    .copy-code-btn {
      @apply opacity-100;
    }
  }
}
