/* src/styles/global.css */

/* ===== 1. 导入依赖与插件 ===== */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@tailwind utilities;

/* ===== 2. 暗色模式配置 ===== */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    font-family: "Noto Serif SC", serif, "Noto Sans SC", sans-serif;
    overflow-y: scroll;
  }

  footer {
    @apply mt-12 pt-8 border-t border-gray-200;
  }

  svg[id^="mermaid-"] {
    @apply bg-white dark:bg-gray-500 rounded-lg p-4 mx-auto block min-w-min;
  }
}

@layer components {
  .article-meta {
    @apply flex items-center gap-6 text-sm mt-2 mb-8 text-shadow-zinc-800 dark:text-zinc-400 italic;
  }

  .meta-item {
    @apply gap-1.5 flex items-center;
    & .icon {
      @apply max-w-full max-h-full;
    }
  }

  .icon {
    @apply inline-flex items-center w-5 h-5;
  }
}
