/* src/styles/global.css */

/* ===== 1. 导入依赖与插件 ===== */
@import "tailwindcss";

@tailwind utilities;

/* ===== 2. 暗色模式配置 ===== */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --haku-font: "SN Pro", "Noto Sans SC", sans-serif;
    --color-border: #a8a8a8;
    --color-readme: #44403b;
    --color-readme-anchor: #155dfc;
    --color-tag: #0a0a0a;
    --color-tag-bg: #dfdfdf;
    --color-tag-bg-hover: #a8a8a8;
    --color-tag-title: #0a0a0a;
    --color-tag-text: #202020;
    --color-bg: #ffffff;

    font-family: var(--haku-font);
    font-display: swap;
    overflow-y: scroll;

    color-scheme: light;
    background-color: var(--bg-body);
  }

  html.dark {
    --color-readme-anchor: #2b7fff;
    --color-border: #3a3a3a;
    --color-readme: #d6d3d1;
    --color-tag: #dbdbdb;
    --color-tag-bg: #2b2b2b;
    --color-tag-bg-hover: #666666;
    --color-tag-title: #d5d5d6;
    --color-tag-text: #c5c5c5;
    --color-bg: #1b1a1d;

    color-scheme: dark;
    background-color: var(--bg-body);
  }

  footer {
    @apply mt-6 pt-4;
  }

  svg[id^="mermaid-"] {
    @apply bg-white dark:bg-gray-500 rounded-lg p-4 mx-auto block min-w-min;
  }
}

@layer components {
  .readme-page {
    @apply max-w-3xl px-4 mx-auto mb-6;
    color: var(--color-readme);

    p {
      @apply mt-4;
    }

    a {
      color: var(--color-readme-anchor);
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .list-page {
    @apply mx-4 mt-6;
    color: var(--color-readme);
  }
}

@layer components {
  .article-title {
    @apply break-all pr-8;
  }

  .article-meta {
    @apply flex items-center gap-6 text-sm mt-2 mb-8 text-shadow-zinc-800 dark:text-zinc-400 italic;
  }

  .meta-item {
    @apply gap-1.5 flex items-center;
    & .icon {
      @apply max-w-full max-h-full;
    }
  }

  .icon {
    @apply inline-flex items-center w-5 h-5;
  }
}

@layer components {
  .code-block-wrapper {
    @apply relative mb-4 mt-4;
  }

  .copy-code-btn {
    @apply absolute top-2 right-2 z-20;
    @apply flex justify-center items-center;
    @apply w-8 h-8 p-0;

    @apply text-sm text-slate-400;
    @apply bg-slate-800/60;
    @apply border border-white/10 rounded-md;

    @apply cursor-pointer opacity-0 transition-all duration-200;
    @apply select-none;

    &:hover {
      @apply bg-slate-800 text-slate-100;
    }

    &.success {
      @apply bg-emerald-600 text-white;
    }
  }

  .code-block-wrapper:hover .copy-code-btn {
    @apply opacity-100;
  }

  @media (hover: none) {
    .copy-code-btn {
      @apply opacity-100;
    }
  }
}

@layer components {
  .tags a {
    border: none;
    color: var(--color-tag) !important;
    background-color: var(--color-tag-bg);
  }

  .tags a:hover {
    background-color: var(--color-tag-bg-hover);
  }

  .tag-articles {
    h1 {
      color: var(--color-tag-title);
    }
    color: var(--color-tag-text);
  }
}
