/* src/styles/global.css */

/* ===== 1. 导入依赖与插件 ===== */
@import "tailwindcss";

@tailwind utilities;

/* ===== 2. 暗色模式配置 ===== */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --haku-font: "SN Pro", "Noto Sans SC", sans-serif;
    --color-border: #a8a8a8;
    --color-readme: #44403b;
    --color-readme-anchor: #155dfc;
    --color-tag: #0a0a0a;
    --color-tag-bg: #dfdfdf;
    --color-tag-bg-hover: #a8a8a8;
    --color-tag-title: #0a0a0a;
    --color-tag-text: #202020;
    --color-bg: #f2f1f5;

    font-family: var(--haku-font);
    font-display: swap;
    overflow-y: scroll;
    min-height: max-content;

    color-scheme: light;
    background-color: var(--color-bg);
  }

  html.dark {
    --color-readme-anchor: #2b7fff;
    --color-border: #3a3a3a;
    --color-readme: #d6d3d1;
    --color-tag: #dbdbdb;
    --color-tag-bg: #2b2b2b;
    --color-tag-bg-hover: #666666;
    --color-tag-title: #d5d5d6;
    --color-tag-text: #c5c5c5;
    --color-bg: #1b1a1d;

    color-scheme: dark;
    background-color: var(--color-bg);
  }

  footer {
    margin-top: 1.5rem;
    padding-top: 1rem;
  }

  svg[id^="mermaid-"] {
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin-inline: auto;
    padding: 1rem;
    display: block;
    min-width: min-content;

    &:where(.dark, .dark *) {
      background-color: #6a7282;
    }
  }
}

@layer utilities {
  .readme-page {
    max-width: 48rem;
    padding-inline: 1rem;
    margin-inline: auto;
    margin-bottom: 1.5rem;
    color: var(--color-readme);

    p {
      margin-top: 1rem;
    }

    a {
      color: var(--color-readme-anchor);
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .list-page {
    margin-inline: 1rem;
    margin-top: 1.5rem;
    color: var(--color-readme);
  }
}

@layer utilities {
  .article-title {
    word-break: break-all;
    padding-right: 2rem;
  }

  .article-meta {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    line-height: 1.428571;
    margin-top: 0.5rem;
    margin-bottom: 2rem;

    &:where(.dark, .dark *) {
      color: #9f9fa9;
    }
  }

  .meta-item {
    gap: 0.25rem;
    display: flex;
    align-items: center;
    & .icon {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .icon {
    display: inline-flex;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
  }
}

@layer utilities {
  .code-block-wrapper {
    position: relative;
    margin-bottom: 1rem;
    max-width: 100%;
    overflow: hidden;
  }

  .copy-code-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 0;

    font-size: 14px;
    line-height: 1.428571;
    color: #90a1b9;
    background-color: #1d293d 60% transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff1a;
    border-radius: 6px;

    cursor: pointer;
    opacity: 0%;
    transition-property: all;
    transition-duration: 200ms;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
      background-color: #1d293d;
      color: #f1f5f9;
    }

    &.success {
      background-color: #009966;
      color: #ffffff;
    }
  }

  .code-block-wrapper:hover .copy-code-btn {
    opacity: 100%;
  }

  @media (hover: none) {
    .copy-code-btn {
      opacity: 100%;
    }
  }
}

@layer utilities {
  .tags a {
    border: none;
    color: var(--color-tag) !important;
    background-color: var(--color-tag-bg);
  }

  .tags a:hover {
    background-color: var(--color-tag-bg-hover);
  }

  .tag-articles {
    h1 {
      color: var(--color-tag-title);
    }
    color: var(--color-tag-text);
  }
}

@layer component {
}
