---
import type { MarkdownHeading } from "astro";
import TocIcon from "@/assets/toc.svg";

interface Props {
  headings: MarkdownHeading[];
}

const { headings = [] } = Astro.props;
const filteredHeadings = headings.filter(
  (heading) => heading.depth >= 2 && heading.depth <= 4,
);
---

<aside
  class="hidden xl:flex flex-col fixed left-12 top-1/2 w-64 -translate-y-1/2 max-h-(--toc-height) z-60 p-4"
>
  <!-- 标题部分：完全脱离滚动区域，flex-none 防止被压缩 -->
  <div
    class="flex-none flex items-center gap-2 mb-4 text-(--toc-title) font-bold text-lg"
  >
    <TocIcon fill="currentColor" />
    <span>目录</span>
  </div>

  <!-- 列表部分：独立滚动区域，flex-1 自动填充剩余空间 -->
  <!-- -mr-4 pr-4 技巧是为了让滚动条贴在组件最右侧边缘，而不挤压内容 -->
  <div class="flex-1 overflow-y-auto no-scrollbar min-h-0">
    <ul class="text-sm border-l-2 border-(--toc-border)">
      {
        filteredHeadings.map((heading) => (
          <li
            class={`
          hover:border-l-2 hover:border-(--toc-active) -ml-1 transition-colors duration-200
          ${heading.depth === 2 ? "mt-3" : "mt-1"}
        `}
          >
            <a
              href={`#${heading.slug}`}
              class={`
            block text-(--toc-text) hover:text-(--toc-active)
            ${heading.depth === 2 ? "pl-3 font-medium" : ""}
            ${heading.depth === 3 ? "pl-6" : ""}
            ${heading.depth === 4 ? "pl-9 text-xs" : ""}
          `}
            >
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</aside>

<style>
  :root {
    --toc-height: 60%;
    --toc-title: #111827;
    --toc-text: #696969;
    --toc-border: #e5e7eb;
    --toc-active: #4d4d4d;
  }

  html.dark {
    --toc-title: #ffffff;
    --toc-text: #a8a8a8;
    --toc-border: #374151;
    --toc-active: #b3b3b3;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  li::before {
    display: none;
  }
</style>
