---
import themeConfig from "@/config";

const { author } = themeConfig.site;
---

<footer class="my-8">
  <p>
    &copy; {new Date().getFullYear()}
    {author} - All rights reserved. Released under <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      rel="canonical"
      class="hover:underline underline-offset-1">CC BY-NC-SA 4.0</a
    >.
  </p>
</footer>
