---
// src/layout/Layout.astro
import Head from "@/layouts/Head.astro";
import Navbar from "@/layouts/Navbar.astro";
import Footer from "@/layouts/Footer.astro";
import CodeCopyButton from "@/components/CodeCopyButton.astro";
import "../styles/global.css";
import "../styles/markdown.css";
import "../styles/ext.css";

interface Props {
  publishedDate?: string;
  articleTitle?: string;
  articleDescription?: string;
  articleSlug?: string;
  supportedLangs?: string[];
}

const { articleTitle, articleDescription } = Astro.props;
---

<!doctype html>
<html lang="zh-cn">
  <Head articleTitle={articleTitle} articleDescription={articleDescription} />
  <body>
    <Navbar />
    <div class="justify-center items-center flex sm:px-6 lg:px-8">
      <main class="py-6">
        <article>
          <slot />
          <CodeCopyButton />
        </article>
      </main>
    </div>
    <Footer />
  </body>
</html>
