---
// src/layout/Layout.astro
import Head from "@/layouts/Head.astro";
import Navbar from "@/layouts/Navbar.astro";
import Footer from "@/layouts/Footer.astro";
import CodeCopyButton from "@/components/buttons/CodeCopyButton.astro";
import "../styles/global.css";
import "../styles/markdown.css";
import "../styles/ext.css";
import ScrollToTop from "@/components/buttons/ScrollToTop.astro";

interface Props {
  publishedDate?: string;
  articleTitle?: string;
  articleDescription?: string;
  articleID?: string;
  supportedLangs?: string[];
}

const { articleTitle, articleDescription, articleID } = Astro.props;
---

<!doctype html>
<html lang="zh-cn">
  <Head
    articleTitle={articleTitle}
    articleDescription={articleDescription}
    og={articleID}
  />
  <body>
    <Navbar />
    <div class="justify-center items-center flex sm:px-5 lg:px-8">
      <main class="py-6">
        <article>
          <slot />
          <CodeCopyButton />
        </article>
      </main>
    </div>
    <ScrollToTop />
    <Footer />
  </body>
</html>
