---
// src/layout/Layout.astro
import Head from "@/layouts/Head.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/layouts/Footer.astro";
import "../styles/global.css";
import "../styles/markdown.css";
import "../styles/ext.css";
import CodeCopyButton from "@/components/CodeCopyButton.astro";

interface Props {
  publishedDate?: string;
  articleTitle?: string;
  articleDescription?: string;
  articleSlug?: string;
  supportedLangs?: string[];
}

const { articleTitle, articleDescription } = Astro.props;
---

<!doctype html>
<html lang="zh-cn">
  <Head articleTitle={articleTitle} articleDescription={articleDescription} />
  <body>
    <div class="min-h-screen max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
      <Navbar />
      <main class="py-8 relative">
        <article>
          <div class="markdown">
            <slot />
            <CodeCopyButton />
          </div>
        </article>
      </main>
      <Footer />
    </div>
  </body>
</html>
